.blog-cont {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-blog {
  padding: 1rem;
  align-items: center;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76rem;
}

.para {
  padding: 2rem;
}
