.photo {
  height: 100%;
  width: 100%;
  /* transform: translateY(25%); */
  /* transform: translate(10%, 6%); */
}

.section {
  background-color: #f5fdfd;
  /* height: 90vh; */
  /* margin: 0; */
  width: 99.2%;
  /* border: red solid; */
}

.main-head {
  font-size: 3.5rem;
  padding: 4rem 0;
  margin-left: 3rem;
  margin-top: 0rem;
  z-index: 10;
  font-weight: 700;
}

.bolder {
  font-weight: 750;
  margin-left: 1rem;
  padding: 0.5rem -0.5rem;
}

.desc {
  margin-left: 1rem;
  color: gray;
}

.appointment-btn {
  width: 10rem;
  color: white;
  background-color: #04a7c3;
  border: none;
  border-radius: 0.3rem;
  margin-left: 2.5rem;
  margin-top: 3rem;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
}

.appointment-btn:hover {
  color: white;
}

.blue {
  color: #1aa7c0;
  /* font-size: larger; */
  text-decoration: underline;
}
