.photo {
  height: 100%;
  width: 100%;
  /* transform: translateY(25%); */
  /* transform: translate(10%, 6%); */
}

.section {
  background-color: #f5fdfd;
  /* height: 90vh; */
  /* margin: 0; */
  width: 99.2%;
  /* border: red solid; */
}

.main-head {
  font-size: 3.5rem;
  padding: 4rem 0;
  margin-left: 3rem;
  margin-top: 0rem;
  z-index: 10;
  font-weight: 700;
}

.bolder {
  font-weight: 750;
  margin-left: 1rem;
  padding: 0.5rem -0.5rem;
}

.desc {
  margin-left: 1rem;
  color: gray;
}
