body {
    background-color: #cff5fc;
    /* #05A6C2 */
}

* {
    margin: 0;
    padding: 0;
}

.top {
    background-image: url("bg1.png");
    margin: 0px;

    background-repeat: no-repeat;
    background-size: cover;

}

.top-heading {
    color: #016172;
    font-size: 36px;
}

.top-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;

}

.description {
    margin-top: 20px;
    width: 50%;
    align-self: center;
}

.top-img {
    border-radius: 10%;
    box-shadow: 5px 5px #026778;
    margin: 20px;
    width: 90%;


}

.imagee {
    align-self: center;
    margin: 50px;
}

.transparency {
    background-color: rgb(5, 166, 194, 0.3);
    padding: 50px;
    border-radius: 20px;
    margin: 50px;
    margin-top: 30px;
}

.marginn {
    margin-left: 30px;
}

.card {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.6);
    background-color: #c6f6ff;
    width: 350px;
    height: 450px;
    margin: 20px;
    padding: 20px;
}

.card-heading {
    font-size: 30px;
    margin: 10px;
    margin-top: 20px;
}

.card-img {
    width: 200px;
    border-radius: 20px;
    margin-top: 20px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;
    margin: auto;

}

.symtoms {
    background-color: #05A6C2;
}

.sym-heading {
    font-size: 40px;
    margin-left: 30px;
    color: #c6f6ff
}

.sym-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;
    margin: auto;
}

.sym-card {
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(5, 129, 151, 0.6), -5px -5px 10px rgba(153, 240, 255, 0.6);
    background-color: #05A6C2;
    margin: 20px;
    width: 500px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    animation-name: fadeinout;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}






@keyframes fadeinout {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.sym-card:nth-child(1) {
    animation-delay: 0s;
}

/* delay = (n-1) / numquotes * duration */
.sym-card:nth-child(2) {
    animation-delay: 0.5s;
}

.sym-card:nth-child(3) {
    animation-delay: 1.0s;
}

.sym-card:nth-child(4) {
    animation-delay: 1.5s;
}

.sym-card:nth-child(5) {
    animation-delay: 2.0s
}

.sym-card:nth-child(6) {
    animation-delay: 2.5s;
}

.sym-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 10px;
}

.card-text {
    padding: 10px;
}

@media (max-width:900px) {
    .card-heading {
        font-size: 22px;
    }

    .card-img {
        width: 120px
    }

    .card {
        width: 300px;
        height: 350px;
    }

    .sym-card {
        width: 400px;
    }


    .top-img {
        width: 70%;
    }
}


@media (max-width:600px) {
    .card-heading {
        font-size: 18px;
    }

    .card-img {
        width: 70px
    }

    .card {
        width: 200px;
        height: 250px;
    }

    .sym-card {
        width: 350px;

    }

    .top-img {
        display: none;
    }
}