.formholder {
  height: 30rem;
  border-radius: 1rem;
  width: 35rem;
  /* align-items: center; */
  /* text-align: center; */
  padding: 2rem;
  margin-top: 5rem;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field {
  width: 20rem;
  height: 2.5rem;
  border: #04a7c3 solid 3px;
  border-radius: 0.4rem;
}

.label-f {
  color: #04a7c3;
  font-weight: 600;
}

.conta {
  padding: 1rem;
}
